@*Moramo dodati Model kako bismo dobili tipizirani pogled*@
@model List<Product>

@{
    ViewData["Title"] = "Dobrodošli na WebShop";
    ViewData["Description"] = "Ovo je projektni zadatak programa obrazovanja";
}

@*NAZIV I OPIS WEB SHOPa*@
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Description"]</p>    
</div>

@*Aktivna sesija kada posjetimo neku radnju na aplikaciji i tada ključ ostaje postojan*@
<p>
    @Context.Session.GetString("sessionString")
</p>


@*Filtriranje proizvoda preko http get forme*@
@*Koristimo bootstrap za formu*@
@*name="" unutar inputa služi da prenese parametre*@
<form class="row mb-5" method="get" asp-area="" asp-controller="Home" asp-action="Index">

    @*FILTRIRANJE*@
    <div class="col-6">

        <input type="text" class="form-control" name="searchQuery" />

    </div>

    @*PADAJUĆI IZBORNIK ZA PRETRAGU PO KATEGORIJAMA*@
    <div class="col-3">
        <select class="form-select" id="floatingSelect" name="categoryId">
            <option selected value="0">All categories</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
    </div>

    @*SORTIRANJE*@
    <div class="col-3">

        <select class="form-select" name="orderBy">

            <option value="0">Default</option>
            <option value="1">Title (A-Z)</option>
            <option value="2">Title (Z-A)</option>
            <option value="3">Price (1,2,3)</option>
            <option value="4">Price (3,2,1)</option>

        </select>

    </div>

    @*SUBMIT*@
    <div class="col-3">

        <input type="submit" class="btn btn-success" value="Search..." />

    </div>


</form>

@*PRIKAZ PROIZVODA*@
@*Radimo petlju da nam izlista sve proizvode iz Product*@
@*Ovaj dio unutar foreach petlje smo kopirali sa Bootsptrapa - Cards se zove taj dio*@
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-4 mb-3">
            <div class="card">
                @{
                    string setImage = !String.IsNullOrEmpty(item.Image) ? "~/images/products/" + item.Image : "~/images/default-placeholder.png";
                } <img src="@Url.Content(setImage)" class="card-img-top" alt="...">

                <div class="card-body">

                    <h5 class="card-title">@item.Title</h5> 

                    <p class="card-text">@item.Description</p>

                    <p class="card-text">@item.Price.ToString("C2")</p>

                    @*DODAVANJE PROIZVODA U KOŠARICU*@
                    <p>
                        <form method="POST" asp-area="" asp-controller="Cart" asp-action="AddToCart">

                            <input type="hidden" name="productId" value="@item.Id" />

                            <input type="number" name="quantity" class="form-control" min="1.00" max="@item.InStock" value="1.00" />

                            <button type="submit" class="btn btn-success">
                                Add To Cart
                            </button>

                        </form>
                    </p>

                </div>

            </div>
        </div>

    }

</div>
